html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --bg-body: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);
    --bg-calc: #2D2A37;
    --bg-btns: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #2D2A37;
    --bg-actions-btn: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), #462878;
    --bg-equal-btn: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), #7F45E2;
    --color-purple: #975DFA;
    --color-gray: #6B6B6B;
    --color-white: #EBEBEB;
}

body {
    background: var(--bg-body);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    width: 355px;
    height: 565px;
    border-radius: 50px;
    background: var(--bg-calc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04), 0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26), 0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1), inset 0px -4px 5px rgba(0, 0, 0, 0.22);
    padding: 54px 32px 32px 32px;
    gap: 15px;
}

.screen-calculator {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 22px 5px 22px;
    height: auto;
    margin-bottom: 26px;
}

.area-calculation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.steps {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.02em;

    color: var(--color-gray);

    margin: 0px 5px;
}

.resultArea {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.equalIcon {

}

.result {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.02em;
    
    color: var(--color-white);
}

.body-btns {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.btns-area-calculator {
    margin-inline: 10px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    width: 64px;
    height: 64px;

    background: var(--bg-btns);
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26), 0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.06);
    border-radius: 999px;

    cursor: pointer;
    padding: 0px;
}

.btns span {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--color-white);
}

span.ce {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: var(--color-purple);
}